---
import DiagramViewer from '../components/DiagramViewer';
import '../styles/styles.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Gnurk</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content="Interactive visualization of Minecraft Server Software Evolution" />
  </head>
  <body>
    <DiagramViewer client:visible />
  </body>
</html>
